@media (min-width: 320) and (max-width: 480){   
   body{
           background:linear-gradient(skyblue,white) 
           
       }
    h2{
        font-size: 20px;
        font-family:monospace;
        text-align: center;
        line-height: normal;
        
    }h1{
      text-shadow: 2px 2px 2px;
      text-align: center;

  }
  h1{
   font-size: 25px;
   text-align: center;
   color:black

   }
   body{
      background: linear-gradient(90deg,rgba(63, 121, 168, 0.459),rgb(223, 128, 51));
  
}
h2{
  color:rgb(0, 0, 0);
  font-size: 14px;
  
}

}